@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-expand {
  display: flex;
  position: fixed;
  animation: modal-animate 0.25s linear;
}

@media (max-width: 1040px) {
  .nav-expand {
    display: flex;
    z-index: 20;
    position: fixed;
    height: 95%;
    margin-left: 2%;
    animation: sidebar-animate 0.25s linear;
  }
}

.burger-bar {
  width: 35px;
  height: 5px;
  background-color: white;
  border-radius: 0.5em;
}
.burger-bar.clicked {
  width: 50%;
  height: 5px;
  background-color: white;
  border-radius: 0.5em;
}

.burger-bar.clicked:nth-child(1) {
  transform: rotate(-45deg) translateY(0.5em) translateX(0em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: translateX(-50px);
  opacity: 0;
  background: transparent;
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(45deg) translateY(-0.75em) translateX(-0.25em);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translateX(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

/* Form */
.form-control.error input {
  border-color: red;
}
.form-control.success input {
  border-color: green;
}
.form-control small {
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.form-control.error small {
  visibility: visible;
}

/*Loading*/

@keyframes ldio-6w467ibr0lr {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-6w467ibr0lr div {
  left: 96px;
  top: 48px;
  position: absolute;
  animation: ldio-6w467ibr0lr linear 1s infinite;
  background: #0c24e1;
  width: 8px;
  height: 24px;
  border-radius: 4px / 5.04px;
  transform-origin: 4px 52px;
}
.ldio-6w467ibr0lr div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9090909090909091s;
  background: #0c24e1;
}
.ldio-6w467ibr0lr div:nth-child(2) {
  transform: rotate(32.72727272727273deg);
  animation-delay: -0.8181818181818182s;
  background: #0c24e1;
}
.ldio-6w467ibr0lr div:nth-child(3) {
  transform: rotate(65.45454545454545deg);
  animation-delay: -0.7272727272727273s;
  background: #0c24e1;
}
.ldio-6w467ibr0lr div:nth-child(4) {
  transform: rotate(98.18181818181819deg);
  animation-delay: -0.6363636363636364s;
  background: #0c24e1;
}
.ldio-6w467ibr0lr div:nth-child(5) {
  transform: rotate(130.9090909090909deg);
  animation-delay: -0.5454545454545454s;
  background: #0c24e1;
}
.ldio-6w467ibr0lr div:nth-child(6) {
  transform: rotate(163.63636363636363deg);
  animation-delay: -0.45454545454545453s;
  background: #0c24e1;
}
.ldio-6w467ibr0lr div:nth-child(7) {
  transform: rotate(196.36363636363637deg);
  animation-delay: -0.36363636363636365s;
  background: #0c24e1;
}
.ldio-6w467ibr0lr div:nth-child(8) {
  transform: rotate(229.0909090909091deg);
  animation-delay: -0.2727272727272727s;
  background: #0c24e1;
}
.ldio-6w467ibr0lr div:nth-child(9) {
  transform: rotate(261.8181818181818deg);
  animation-delay: -0.18181818181818182s;
  background: #0c24e1;
}
.ldio-6w467ibr0lr div:nth-child(10) {
  transform: rotate(294.54545454545456deg);
  animation-delay: -0.09090909090909091s;
  background: #0c24e1;
}
.ldio-6w467ibr0lr div:nth-child(11) {
  transform: rotate(327.27272727272725deg);
  animation-delay: 0s;
  background: #0c24e1;
}
.loadingio-spinner-spinner-dtn99hj0z25 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-6w467ibr0lr {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-6w467ibr0lr div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 50%;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 100%;
  }
}

@keyframes sidebar-animate {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }

  100% {
    transform: translate(0%);
    opacity: 100%;
  }
}

@keyframes modal-animate {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 100%;
  }
}
